* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  color: white;
  letter-spacing: 1px;
}

:root {
  --primary-color: rgb(34, 34, 34);
  --heading-size: 30px;
  --bg-color: rgb(189, 189, 189);
}

body {
  background-color: rgb(246, 247, 243);
  position: relative;
  margin: 0;
}

.main {
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0, 0, 0, 0.5) 50%
    ),
    url(./images/wallpaper1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.navBar {
  position: fixed;
  padding-left: 3px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 55px;
  width: 100%;
  transition: all 0.6s;
  background-color: var(--primary-color);
  z-index: 10;
}

.menu-items ul li a {
  transition: all 0.5s;
}

.icon {
  width: 100px;
  height: 100px;
}

.logo {
  display: flex;
  font-style: italic;
  color: rgb(249, 250, 251);
  font-size: 20px;
}

ul {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

ul li {
  list-style-type: none;
  padding: 6px 10px;
  font-size: 18px;
}

ul li a {
  text-decoration: none;
  color: rgb(235, 216, 197);
  letter-spacing: 1px;
  font-weight: bold;
  transition: all 0.2s;
}

ul li a:hover {
  color: rgb(225, 94, 37);
}

/* Main Box */
.mainbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 14px;
  margin: 0px auto;
  height: auto;
  padding: 20px 10px;
}

.content {
  text-align: left;
  padding: 20px 10px;
}

.content p {
  font-size: 30px;
}

.content h2 {
  color: rgb(225, 94, 37);
  text-align: left;
  font-size: 18px;
  padding: 10px 20px;
}

.photo img {
  box-shadow: 0px 0px 5px rgb(215, 211, 211);
  border: none;
  width: 100%;
  max-width: 350px;
  height: auto;
  border-radius: 50%;
}

.cv {
  margin: 20px auto;
}

.cv button {
  box-shadow: 0px 0px 6px rgb(215, 211, 211);
  border-radius: 15px;
  border: none;
  background-color: rgb(55, 51, 54);
  color: rgb(249, 246, 246);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  margin: 1px auto;
  font-size: 16px;
  transform: scale(1);
}

.cv button:hover {
  box-shadow: 0px 0px 10px rgb(225, 94, 37);
  transform: scale(1.01);
}

/* About Section */
.about-section,
.skill-section,
.smedia {
  background-color: var(--bg-color);
  width: 100%;
  transition: all 0.4s;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.about-section h1 {
  color: rgb(231, 231, 231);
  text-align: center;
  letter-spacing: 2px;
  font-size: var(--heading-size);
  padding: 20px 0px;
  background-color: var(--primary-color);
}

.about-container {
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-container p {
  color: rgb(37, 37, 37);
  font-size: 20px;
  padding: 10px 20px;
}

.about-container span {
  color: rgb(33, 0, 0);
  font-weight: bold;
  font-size: 24px;
  transform: scale(1);
}

.about-container span:hover {
  display: inline-block;
  text-shadow: 0px 0px 4px rgb(21, 215, 249);
  transform: scale(1.03);
  cursor: pointer;
}

/* Skills Section */
.skill-section h1 {
  color: rgb(231, 231, 231);
  text-align: center;
  letter-spacing: 2px;
  font-size: var(--heading-size);
  padding: 20px 0px;
  background-color: var(--primary-color);
}

.skills {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 20px auto;
  box-shadow: 0px 0px 5px black;
  border-radius: 7px;
  padding: 20px;
  gap: 20px;
  transform: scale(1);
  transition: all 0.35s;
  margin-bottom: 20px;
  background-color: white;
}

.skills:hover {
  box-shadow: 0px 0px 10px black;
  transform: scale(1.1);
  background-color: rgb(227, 218, 218);
}

.skills img {
  height: 90px;
}

/* Social Media Section / Contact me */

.smedia {
  height: auto;
  justify-content: space-evenly;
  padding: 20px 0px;
}

.smedia h1 {
  background-color: var(--primary-color);
  text-align: center;
  font-size: var(--heading-size);
  padding: 20px 0px;
}

.social-media-icons {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.social-media-icons a i {
  border: 5px solid black;
  background-color: rgb(0, 0, 0);
  font-size: 40px;
  border-radius: 50%;
  opacity: 1;
  transform: scale(1);
}

.social-media-icons a i:hover {
  opacity: 0.9;
  transform: scale(1.1);
  box-shadow: 0px 0px 10px black;
}

/* Footer Section */
.footer {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  background-color: var(--primary-color);
  gap: 15px;
}

.footer p,
.copyright {
  text-align: center;
  letter-spacing: 1px;
  font-size: 14px;
  color: rgb(250, 250, 250);
  padding: 5px;
}

@media only screen and (max-width: 600px) {
  .navBar {
    padding-left: 10px;
  }

  .logo {
    font-size: 16px;
  }

  ul li {
    font-size: 14px;
    padding: 4px 8px;
  }

  .mainbox {
    padding: 20px 10px;
  }

  .content p {
    font-size: 30px;
  }

  .content h2 {
    font-size: 18px;
    padding: 10px;
  }

  .photo img {
    max-width: 300px;
  }

  .cv button {
    padding: 10px 20px;
    font-size: 16px;
  }

  .about-container p {
    font-size: 16px;
    padding: 10px 20px;
  }

  .about-container span {
    font-size: 20px;
  }

  .skills {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
  }

  .smedia {
    padding: 20px 0px;
  }

  .smedia h1 {
    font-size: 20px;
    padding: 10px 0;
  }

  .footer p,
  .copyright {
    font-size: 14px;
  }
}
